@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  text-decoration: #031b4e;
}


html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 20px;
  background-color: #011f30;
}